<div class=" container row col-md-12">
  <div class="col-md-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/reactiveForm">Reactive Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/angularMaterial">Angular Material Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/apiCall">API Call</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/parent">Parent child communication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" >Other Section</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8 my-3">
    <router-outlet></router-outlet>
  </div>
</div>